/*!
 * "Fork me on GitHub" CSS ribbon v0.2.3 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

.github-fork-ribbon {
  display:none;
}

.github-fork-ribbon.fixed {
  display:none;
}


.github-fork-ribbon:before, .github-fork-ribbon:after {
  display:none;
}

.github-fork-ribbon.left-top, .github-fork-ribbon.left-bottom {
  display:none;
}

.github-fork-ribbon.left-bottom, .github-fork-ribbon.right-bottom {
  display:none;
}
